@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Tomislav Mikec <br />
    <abbr title="Phone">P:</abbr>
    +385989528515
</address>

<address>
    <strong>Github:</strong>   <a href="http://github.com/tmikec">Tomislav</a><br />
    <strong>LinkedIn</strong> <a href="https://www.linkedin.com/in/tomislav-mikec-211165178/">My profile</a>
</address>