@{
    ViewBag.Title = "Home Page";
}
<style>

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

        button:hover, a:hover {
            opacity: 0.7;
        }
</style>
<div class="jumbotron">
    <h1>Projekt Tomislav Mikec</h1>
    <p class="lead">Ovaj projekt je izrađen kao vježba za prijavu za posao.</p>
    <p><a href="contact" class="btn btn-primary btn-lg">Kontakt &raquo;</a></p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <i class="fa fa-user" style="font-size:200px"></i>
    <h1>Tomislav Mikec</h1>
    <p class="title">Example</p>
    <p>Harvard University</p>
    <a href="http://github.com/tmikec"><i class="fa fa-github"></i></a>&nbsp&nbsp
    <a href="https://www.linkedin.com/in/tomislav-mikec-211165178/"><i class="fa fa-linkedin"></i></a>&nbsp&nbsp
    <a href="https://www.https://www.facebook.com/mikec.tomislav"><i class="fa fa-facebook"></i></a>
    <p><button>Contact</button></p>
</div>